
{% extends 'base.html' %}
{% block title %} FAQ - Bulldog {% endblock %}
{% block cliente %} {{cliente}} {% endblock %}
{% block login %} {{login}} {% endblock %}
{% block logout %} {{logout}} {% endblock %}
{% block content %}


<main>

    <div class="container vh-100">

      <!-- Grid row -->
      <div class="row d-flex align-items-center h-100">

        <!-- Grid column -->
        <div class="col-md-12">
            FAQ - Orientações
            Como podemos te ajudar?
            Confira abaixo as nossas Perguntas Fequentes e esclareça as suas dúvidas!
            
            Para mais informações sobre outras políticas, acesse: Políticas do Site
            
            Posso alterar o endereço de entrega com o objeto em transporte?
            Quando seu pedido já estiver em transporte, infelizmente não será possível alterar o endereço de entrega. No entanto, você poderá nos contatar para verificar a possibilidade de solicitarmos o retorno do pedido ao KaBuM!, para assim efetuarmos a alteração do endereço.
            
            Qual é o prazo para confirmação de pagamento?
            Pagamentos efetuados via Boleto Bancário e Cartão de Crédito têm um prazo de 1 a 2 dias úteis para confirmação; já para pagamentos via PIX, o prazo de confirmação é de até 30 minutos. Se esse período for expirado e o pagamento de seu pedido permanecer indicado como pendente, será necessário entrar em contato com o nosso Atendimento.
            Como comprar pelo PIX?
O PIX é a melhor opção de pagamento para suas compras à vista. Com ele, você garante até 15% de desconto. Além disso, essa modalidade oferece toda agilidade e praticidade que você precisa. Ao finalizar a sua compra pelo PC, um QR Code será gerado na tela de conclusão do seu pedido. Abra o aplicativo do seu banco pelo smartphone, siga até a opção PIX e escolha o “pagamento por QR Code”. Já pelo smartphone, você deverá copiar o código “Pix Copia e Cola”, clicando no botão “Copiar Código”. Sobre as novas regras do PIX, que começaram a valer no dia 04/10/2021, elas foram criadas pelo Banco Central para garantir mais segurança em suas transações financeiras. Agora, entre as 20h e as 06h, o limite de pagamento é de até R$ 1.000. Se preferir, você pode ampliar o seu limite para aproveitar todas as ofertas com tranquilidade. Entre em contato com a Central de Atendimento do seu Banco ou acesse a opção de limites no APP da instituição. O prazo para liberação pode levar até 48h.
Preciso acionar a garantia de um produto. Como proceder?
1º - Faça o login em nosso site, usando seu e-mail e senha;
2º - Entre no link: https://kabum.com.br/minha-conta/meus-pedidos;
(Caso não consiga acessar o link, é só entrar em 'Minha Conta' e selecionar 'Meus Pedidos' no lado esquerdo da tela).
3º - Depois, você irá localizar o pedido referente ao item que deseja acionar a garantia; selecione 'Detalhes do pedido'.
4º - Clique em 'Precisa de ajuda?' e, em seguida, selecione 'Garantia' e 'Continuar';
5º - Marque o quadradinho referente ao produto que deseja acionar a garantia e clique em 'Próximo';
6º - Preencha o formulário e conclua a solicitação.
Pronto! Após realizar o passo a passo acima, a sua solicitação será encaminhada para o setor responsável pela verificação deste procedimento. Em seguida, entraremos em contato pelo e-mail de cadastro. Caso você receba os contatos do fabricante, será necessário acioná-lo diretamente para solicitar a garantia.
Atenção: algumas mensagens enviadas pelo e-mail do KaBuM! podem ser encaminhadas diretamente ao lixo eletrônico, caixa de promoções ou spam do seu e-mail (Gmail, Hotmail, Yahoo, entre outros). É importante conferir todas essas pastas e, caso você não receba um retorno em até 2 dias úteis, entre em contato com nosso Atendimento.
O prazo para retorno do protocolo é de até 48 horas úteis.

Como acionar o Direito de Arrependimento?
O Direito de Arrependimento só pode ser acionado após o recebimento da compra em sua casa, no prazo de até 7 dias corridos. Nesse caso, siga o passo a passo abaixo:
1º - Faça o login em nosso site ou APP, usando seu e-mail e senha;
2º - Entre na aba 'Meus Pedidos' ou no link: https://kabum.com.br/minha-conta/meus-pedidos (Caso não consiga acessar o link, é só entrar em 'Minha Conta' e selecionar 'Meus Pedidos' no lado esquerdo da tela).;
3º - Depois, você irá localizar o pedido referente ao item que deseja acionar o direito de arrependimento e deverá selecionar 'Detalhes do pedido'.
4º - Clique em 'Precisa de ajuda?' e, em seguida, selecione 'Arrependimento' e 'Continuar';
5º - Marque o quadradinho referente ao produto que deseja devolver e clique em 'Próximo';
6º - Preencha o formulário e conclua a solicitação.
A sua solicitação será encaminhada para o setor responsável pela verificação deste procedimento. Entraremos em contato pelo seu e-mail de cadastro no KaBuM!.
O prazo para retorno do protocolo é de até 48 horas úteis.

Como realizar o rastreio na Azul?
1º - Acesse o site https://www.azulcargoexpress.com.br/Rastreio/Rastreio;
2º - Em AWB, insira o código disponibilizado em seu pedido (O número 577 deve ser excluído do protocolo para rastrear);
3º - Clique em 'Adicionar' e selecione 'Eu não sou um robô';
4º - Em seguida, selecione 'Rastrear’ para acompanhar seu pedido.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio nos Correios?
1º - Acesse o site http://www.correios.com.br;
2º - Siga até o campo 'Acompanhe seu objeto' e informe o protocolo de rastreio do seu pedido (recebido no e-mail de cadastro, referente à compra em nosso e-commerce);
3º - Clique no ícone da lupa, à direita na barra.
Atenção: o prazo para atualização do rastreio é de até 3 dias úteis.

Como realizar o rastreio na Dia Entregue?
1º - Acesse o site http://sistema.diaentregue.com.br/rastreio/default.aspx;
2º - No campo 'CNPJ/CPF', preencha com os dados do titular do cadastro no KaBuM!;
3º - Em 'Nº do pedido ou da nota fiscal', insira o número do seu pedido ou o número da nota fiscal recebido via e-mail de cadastro, referente à sua compra em nosso e-commerce;
4º - Depois, é só selecionar 'Rastrear Pedido' e acompanhar seu rastreio.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio na Favorita?
1º - Acesse o site https://favorita.com.br/localize-sua-carga;
2º - No campo 'CNPJ/CPF', preencha com os dados do titular do cadastro no KaBuM!;
3º - Logo em seguida, clique em 'Localizar Carga'. Você será redirecionado para o rastreio do seu pedido.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio na GFL?
1º - Acesse o site http://gfl.sinclog.com.br/Rastreamentos/Rastreamento;
2º - Insira os dados solicitados e o 'CPF/CNPJ' do titular do pedido.
3º - Logo após, você verá as informações de sua entrega.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio na Movvi (Meridional)?
1º - Acesse o site: https://movvi.com.br/ferramentas/rastreio;
2º - Insira os dados solicitados, o 'CPF/CNPJ' do titular do pedido e o número da 'Nota Fiscal';
3º - Logo após, você verá as informações de sua entrega.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio na Rede Sul?
1º - Acesse o site: https://www.redesullog.com.br/;
2º - No canto superior esquerdo, selecione a opção 'Rastrear Minha Encomenda';
3º - Pessoas Físicas devem preencher o campo à esquerda (CPF) com os dados do titular do cadastro no KaBuM!. Pessoas Jurídicas devem preencher o lado direito, com o CNPJ da empresa e o número da Nota Fiscal.
4º - Selecione a opção 'Buscar' para acompanhar seu pedido.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio na Sequoia?
1º - Acesse o site http://sequoialog.com.br/rastreio/;
2º - No campo 'CNPJ/CPF', preencha com os dados do titular do cadastro no KaBuM!.
3º - Selecione 'Eu não sou um robô' e clique em 'Rastrear';
4º - Selecione o rastreio correspondente ao KaBuM! para acompanhar seu pedido.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

Como realizar o rastreio na VEX?
1º - Acesse o site: https://vex.facility-cloud.com.br/app/account/login?parc=271DF684-A511-402C-A31D-000FD39942AF;
2º - Nos campos de 'CNPJ/CPF', você deve preencher a numeração com todas as pontuações (incluindo os dados do titular do cadastro no KaBuM!);
3º - Em 'NF/Cód.rastreio' insira o número da nota fiscal recebido via e-mail de cadastro, referente à sua compra em nosso e-commerce;
4º - Selecione a opção 'Não sou um robô' e, em seguida, selecione a opção 'Confirmar'.
Observação: as informações de LOGIN devem ser desconsideradas.
Atenção: o prazo para atualização do rastreio é de até 2 dias úteis.

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </main>

  {% endblock %}
