{% extends 'base.html' %}
{% block title %} Bulldog {% endblock %}
{% block cliente %} {{cliente}} {% endblock %}
{% block login %} {{login}} {% endblock %}
{% block logout %} {{logout}} {% endblock %}
{% block content %}



<div id="carouselindex" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="../../static/images/1642019257_invictus_joias_promo-4.png" class="img-fluid" alt="banner 1">
	  </div>
	  <div class="carousel-item">
		<img src="../../static/images/1642511900_invictus_joias_promo-9.png" class="img-fluid" alt="banner 2">
	  </div>
	  <div class="carousel-item">
		<img src="../../static/images/1642167476_vai-logooooo.png" class="img-fluid" alt="banner 3">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselindex" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselindex" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>
<div class="row me-5 ms-5 mt-2 mb-5">
	<div class="mx-auto mb-2 col-md-6 col-lg-3 col-sm-6 col-xs-12">
		<a href="/loja/clic.php?loja=759304&amp;banner=71" target="_blank">
		<img src="https://images.tcdn.com.br/img/img_prod/759304/1633717691_2.png" class="img-fluid" title="correntes" alt="correntes">
	</a></div>
	<div class="mx-auto mb-2 col-md-6 col-lg-3 col-sm-6 col-xs-12">
		<a href="/loja/clic.php?loja=759304&amp;banner=71" target="_blank">
		<img src="https://images.tcdn.com.br/img/img_prod/759304/1633717592_3.png" class="img-fluid" title="correntes" alt="correntes">
	</a>
	</a></div>
	<div class="mx-auto mb-2 col-md-6 col-lg-3 col-sm-6 col-xs-12">
		<a href="/loja/clic.php?loja=759304&amp;banner=71" target="_blank">
		<img src="https://images.tcdn.com.br/img/img_prod/759304/1633717889_1.png" class="img-fluid" title="correntes" alt="correntes">
	</a></div>
	<div class="mx-auto mb-2 col-md-6 col-lg-3 col-sm-6 col-xs-12">
		<a href="/loja/clic.php?loja=759304&amp;banner=71" target="_blank">
		<img src="https://images.tcdn.com.br/img/img_prod/759304/1633717656_4.png" class="img-fluid" title="correntes" alt="correntes">
	</a></div>
	

</div>
			
					
						
				
						
				
				




{% endblock %}

{% block script %}
{% endblock script %}