
{% extends 'base.html' %}
{% block title %} Políticas do site - Bulldog {% endblock %}
{% block cliente %} {{cliente}} {% endblock %}
{% block login %} {{login}} {% endblock %}
{% block logout %} {{logout}} {% endblock %}
{% block content %}


<main>

    <div class="container vh-100">

      <!-- Grid row -->
      <div class="row d-flex align-items-center h-100">

        <!-- Grid column -->
        <div class="col-md-12">

          Políticas do Site e Marketplace
          Caro Cliente, aqui você encontrará informações importantes sobre os seus direitos e obrigações, bem como dos procedimentos a serem adotados. Tais informações são importantes, assim, pedimos que você as leia com toda atenção.
          
          Qualquer dúvida entre em contato através dos nossos Canais de Atendimento disponíveis em nosso site e no item 11 deste documento.
          
          O Cliente é o único responsável pela veracidade e legalidade dos dados e informações prestadas para fins de cadastro e compras na plataforma E-commerce KaBuM! e aplicativo.
          
          AVISO: O KaBuM! é um E-commerce varejista, cuja venda de produtos é exclusivamente para o uso e consumo, não sendo destinada a distribuição e/ou revenda em qualquer formato.
          
          AVISO: Durante o período de "Black Friday", os produtos e ofertas vinculados a esta campanha, respeitarão as condições específicas do Regulamento da "Black Friday" que prevalecerão sobre os termos desta Política, sendo que esta Política será aplicada de forma subsidiária.
          
          ATENÇÃO: Esta Política não se aplica, em sua totalidade, à produto vendido e entregue por lojas parceiras (Marketplace). Para produto vendido e entregue por lojas parcerias (Marketplace), antes de concluir sua compra nesta modalidade, verificar o item 10 desta Política.
          
          1. Pedido
          
          1.1. Os pedidos somente serão considerados válidos quando realizados por meio do nosso site oficial https://www.kabum.com.br ("site oficial") ou por meio das nossas plataformas iOS, Android e Mobile. O KaBuM! não reconhece e não se responsabiliza por qualquer compra feita em outro site que não o seu site oficial, ou, ainda, por eventuais alterações e/ou fraudes ocorridas no computador, tablet, celular do Cliente e/ou qualquer outro meio de acesso à internet.
          
          Por questões de segurança, para a criação de cadastro no KaBuM! é necessário a inclusão de endereço de e-mail válido. Endereços de e-mails temporários e/ou com extensões inexistentes (domínios incorretos) não são considerados endereços válidos, impedirá a conclusão do cadastro do cliente e/ou facultará o seu cancelamento pelo KaBuM!.
          
          1.2. Após a finalização do pedido, o Cliente receberá uma mensagem através do e-mail de cadastro com a confirmação e número do pedido. Após a confirmação do pagamento, o Cliente receberá mensagens com o status do pedido.
          
          1.3. ATENÇÃO O Cliente deverá acompanhar o recebimento do e-mail de confirmação do pedido acima informado, e verificar se o pedido corresponde exatamente à compra realizada. Caso exista qualquer divergência, o Cliente deverá entrar em contato através de nossos Canais de Atendimento para análise e eventual correção interna. O mesmo se aplica no caso de, ultrapassado o prazo de 24 horas, o Cliente não ter recebido o e-mail com a confirmação do pedido.
          
          1.4. Aviso aos Clientes pessoa jurídica: O KaBuM! possui alguns Centros de Distribuição, por esta razão, o pedido poderá ser expedido por um dos Centros de Distribuição localizado em Estado (UF) diverso ao da pessoa jurídica que realizou a compra, assim, na operação interestadual, poderá ser cobrado um diferencial de alíquota de ICMS pelo Estado de destino da mercadoria. Esta obrigação legal está prevista na legislação tributária vigente, e é de responsabilidade da pessoa jurídica compradora, razão pela qual o KaBuM! não se responsabiliza pelo pagamento e/ou liberação dos produtos retidos em barreiras fiscais, qualquer dúvida entre em contato através de nossos Canais de Atendimento.
          
          Para melhor atender os seus consumidores, o KaBuM! possui centros de armazenagem e distribuição de produtos em diversas localidades. Assim, o valor do frete poderá variar em função do local onde os produtos estão armazenados, disponibilizados e/ou de onde serão enviados, de modo que entregas semelhantes, poderão apresentar valores finais diferentes, face ao custo do frete para entrega.
          
          1.5. O KaBuM! possui diversas discussões judiciais referente a restituição de tributos pagos a maior ou indevidamente e, conforme o Código Tributário Nacional, para que tais restituições sejam efetivadas é fundamental a concordância do consumidor final. Desta forma, ao realizar compras no KaBuM! e, sendo assim, aceitando as políticas do site, você expressamente autorizará o KaBuM! a restituir para si integralmente os valores sujeitos a qualquer ressarcimento.
          
          1.6. Aviso aos Clientes: O KaBuM! realiza suas vendas de produtos exclusivamente para o uso e consumo de seus clientes, ou seja, para os consumidores finais, não sendo destinada a distribuição e/ou revenda em qualquer formato. Nesse sentido, todos os seus clientes, tanto pessoas física ou jurídica, declaram que as compras realizadas no KaBuM! destinam-se exclusivamente para o seu próprio uso e consumo, sendo esses consumidores finais dos produtos.
          
          2. Oferta
          
          2.1. As ofertas serão veiculadas no site oficial do KaBuM! (www.kabum.com.br), em mídias e em outros canais próprios (incluindo o aplicativo do KaBuM!).
          
          2.2. As ofertas serão válidas apenas quando presentes no site oficial do KaBuM!, conforme disponibilidade do estoque promocional e/ou validade (prazo) da promoção informada nos materiais de divulgação. Para informações e preços atualizados, é necessário visitar o link do produto desejado no site.
          
          2.3. Devem ser reconhecidos como e-mails promocionais e informativos do KaBuM! apenas os endereços com domínio @kabum.com.br e @e.kabum.com.br.
          
          2.3.1. Os preços comunicados via e-mail são válidos no dia do seu envio e/ou conforme o período promocional indicado no site do KaBuM! (www.kabum.com.br). O KaBuM! se reserva no direito de corrigir qualquer possível erro de digitação ou gráfico em suas peças de comunicação visual.
          
          2.4. As ofertas serão garantidas respeitando-se as informações expressamente contidas na página do produto de acordo com o preço estabelecido diretamente no site oficial do KaBuM! Em caso de dúvida, o Cliente deverá entrar em contato através de nossos Canais de Atendimento. O preço do produto, frete, prazos e condições de pagamento estarão disponíveis na página da oferta do produto e deverão ser conferidos pelo Cliente antes da finalização da compra, sendo certo que a finalização da compra pelo Cliente significará o seu pleno aceite de todas as condições dispostas pelo KaBuM!.
          
          2.4.1. As imagens veiculadas em anúncios são meramente ilustrativas. Para mais informações sobre o modelo e preços do produto, é necessário visitar o link anunciado no site do KaBuM! (www.kabum.com.br)
          
          2.5. Em virtude dos tipos de produtos comercializados pelo KaBuM! poderá ocorrer oscilação de preço de um mesmo produto em curto período de tempo. Dessa forma, o Cliente fica ciente que o preço estabelecido no momento da contratação é vinculante e não poderá sofrer reajuste. A oferta será válida dentro do prazo nela estipulado.
          
          2.6. Em caso de erro de digitação e/ou gráfico disponíveis no site, aplicativo, e-mails e/ou qualquer outro canal de comunicação, no tocante a preço, especificação técnica, dentre outros, o KaBuM! se reserva no direito de corrigir tais equívocos e realizar cancelamento do pedido e/ou venda, a qualquer tempo, sem quaisquer ônus às partes.
          
          3. Formas de Pagamento
          
          3.1. O Cliente poderá pagar suas compras de acordo com as opções dispostas para cada produto comercializado no site do KaBuM!, a exemplo, por PIX (QR CODE ou Código PIX) e cartão de crédito, cujas bandeiras e margens de descontos estão ostensivamente explícitas ao Cliente e as opções serão disponibilizadas no ato de compra.
          
          3.1.1. PIX (QR Code e Código PIX)
          
          3.1.1.1. O pagamento por PIX deve ser efetuado dentro do prazo de 30 minutos após concluída a compra. Decorrido 30 minutos, o QR Code e Código gerado expira e o pedido é automaticamente cancelado.
          
          3.1.1.2. Atenção: o KaBuM! não aceita PIX Transferência (transferência entre contas com PIX sem uso do QR Code ou Código PIX), como forma de pagamento.
          
          3.1.2. Cartão de Crédito
          
          3.1.2.1. Para os pagamentos via cartão de crédito, o Cliente deverá se utilizar, preferencialmente, de cartão de crédito de sua titularidade, se responsabilizando pelo seu uso correto. Caso o Cliente utilize cartão de crédito de terceiros, ele se responsabilizará em obter a autorização expressa de o respectivo titular do cartão de crédito para a realização da compra no site do KaBuM!.
          
          3.1.2.2. Fica facultado ao KaBuM! solicitar todas e quaisquer informações necessárias para confirmar a autorização do titular do cartão.
          
          3.1.2.3. O Cliente que se utilizar do cartão de crédito de terceiros sem a devida autorização do proprietário, se responsabilizará por todo e qualquer prejuízo causado ao KaBuM! e/ou a terceiros, sem prejuízo das sanções administrativas e legais aplicáveis.
          
          3.1.2.4. O Cliente deve se atentar ao limite de seu cartão que é estabelecido pela própria administradora.
          
          3.1.3. O KaBuM! poderá ainda, a qualquer tempo e a seu exclusivo critério, disponibilizar ao cliente a forma de pagamento por meio de boleto bancário e esta opção, se ativa, estará disposta na etapa de pagamento. Quando e se disponibilizado o pagamento por meio de Boleto Bancário e esta for a escolha do Cliente, o Cliente deverá clicar na opção CLIQUE AQUI PARA IMPRIMIR O BOLETO e conferir os dados do pedido, valor e endereço de entrega, bem como se certificar que a linha de pagamento não foi alterada por vírus decorrentes do seu equipamento. Em caso de dúvida, o Cliente deverá entrar em contato através de nossos Canais de Atendimento.
          
          3.1.4. Confirmação de Pagamento
          
          3.1.4.1. A liberação do pedido para remessa e postagem está condicionada às políticas internas de cada instituição financeira e, portanto, poderá haver o cancelamento do pedido via PIX, assim como em qualquer outro meio de pagamento implementado.
          
          3.1.4.2. O KaBuM! reserva-se no direito de, antes de confirmar o pedido, solicitar prévia validação e autorização das administradoras de cartão de crédito, bem como solicitar a confirmação e o comprovante de pagamento do Pix e do boleto bancário, não se responsabilizando por eventuais fraudes ocorridas.
          
          3.1.4.3. Referente à modalidade Pix, fica a critério de cada instituição financeira estabelecer um limite máximo para a realização de pagamentos. Portanto, fica sob responsabilidade do cliente se informar a respeito dessa condição, junto ao seu banco.
          
          3.1.4.4. O KaBuM!, a fim de evitar prejuízos aos seus Clientes e/ou ao sistema financeiro, se reserva no direito de cancelar a operação de compra, bem como bloquear a respectiva entrega do produto quando for comunicado pela operadora de cartão de crédito que houve a utilização indevida ou por qualquer meio legal que ateste a suspeita de fraude ou de uso indevido. Nesta hipótese, o KaBuM! não será responsável por qualquer dano causado ao Cliente em decorrência de tal cancelamento.
          
          3.1.4.5. Na hipótese do KaBuM! ser comunicado acerca da utilização indevida do cartão de crédito após a conclusão da operação de compra e entrega do produto ao Cliente, o KaBuM! adotará todas as providências legais para averiguar o ocorrido, inclusive de cunho penal, a fim de obter o recebimento do crédito decorrente da venda dos produtos.
          
          3.1.4.6. O Cliente se compromete a evitar e minimizar a ocorrência de fraudes de qualquer tipo, inclusive mantendo o equipamento utilizado para a compra livre de vírus, malwares, spyware e/ou qualquer outra forma de adulteração das informações contidas na página do KaBuM!
          
          4. Entrega
          
          4.1. O prazo de entrega informado no momento da compra trata-se apenas de uma previsão, podendo ser alterado por fatores alheios ao controle do KaBuM!.
          
          4.2. O KaBuM! não se responsabiliza pelo não cumprimento dos prazos de entrega nos seguintes exemplos, não se limitando a endereço de entrega informado incorretamente, incompleto, desatualizado, endereço com restrição de entrega pela transportadora, seja por ser região de risco ou inacessível, Cliente ausente, recusa em receber os produtos por parte do Cliente ou terceiros localizados no endereço da entrega, mudança de endereço sem a devida notificação ao KaBuM!, endereços fechados, em caso furtuito, força maior e fatos de terceiros.
          
          4.3. O KaBuM! não se responsabiliza pelo não cumprimento do prazo estabelecido quando o Cliente residir em áreas de risco ou em áreas posteriormente determinadas pelas empresas transportadoras como "áreas de entrega com prazo diferenciado". Nessas situações, cabe ao Cliente averiguar se se enquadra em alguma dessas situações antes de finalizar a compra.
          
          4.4. O Cliente será responsável pelo pagamento do frete de nova postagem quando houver recusa injustificada do recebimento do produto.
          
          4.5. O Cliente poderá optar, no momento da formalização do pedido, o modelo de frete a ser contratado para o envio da mercadoria, se atentando não só para os preços, mas também aos prazos e condições de entrega.
          
          4.5.1. Algumas mercadorias estão sujeitas a alteração da forma de postagem, arcando o KaBuM! com eventual custo adicional.
          
          4.6. Em caso de grandes eventos promocionais como, por exemplo, Black Friday, Mega Maio, Cyber Monday, bem como períodos nacionalmente reconhecidos pela alta demanda comercial, como por exemplo, o período de Natal, os prazos de entrega poderão sofrer alterações devido à grande demanda.
          
          4.7. Para Produtos Digitais a entrega do produto é feita mediante disponibilização da chave de resgate do Gift Card no e-mail de cadastro do cliente KaBuM!.
          
          ATENÇÃO: O KaBuM! não se responsabiliza pela retenção de mercadorias na SEFAZ quando esta se dever exclusivamente de obrigação imposta pela Administração Pública ao Cliente, sendo, portanto, necessário seu comparecimento no posto fiscal para que a mercadoria seja liberada, tendo em vista que nestes casos as informações referentes a liberações e pagamentos só são passadas aos interessados.
          
          5. Trocas e Devoluções
          
          Toda solicitação de troca ou devolução deverá ser informada aos Canais de Atendimento disponíveis em nosso site.
          
          A troca do produto, por qualquer motivo que seja, somente poderá ser efetivada após o recebimento e análise de suas condições. Constatada qualquer divergência entre o relatado pelo Cliente e a condição do produto, como por exemplo, mas não se limitando a ausência de avaria, indícios de mau uso, ausência de manual e/ou acessórios, o KaBuM! reserva-se no direito de não realizar a troca e reenviar o produto ao Cliente, independentemente de sua prévia autorização.
          
          5.1. Direito de Arrependimento
          
          5.1.1. O exercício do Direito de Arrependimento poderá ser feito em até 07 (sete) dias corridos, a contar da data de recebimento da compra, nos moldes do artigo 49 do Código de Defesa do Consumidor.
          
          5.1.2. O Cliente deverá manifestar expressamente o seu arrependimento no prazo supracitado através dos Canais de Atendimento disponíveis em nosso site, destacando-se, dentre eles, a aba específica para este fim, que pode ser encontrada no item "Minha Conta", os casos em que a devolução do produto não for aceita, os valores pagos a esse título não serão restituídos e o KaBuM! repostará o produto por intermédio de PAC.
          
          5.1.3. Para o exercício do Direito de Arrependimento, os produtos deverão ser devolvidos em sua embalagem original, sem apresentar qualquer indício de uso, acompanhados da nota fiscal, manual e todos os seus acessórios.
          
          5.1.4. Certos produtos, em virtude de suas características e especificidades, deverão ser devolvidos sem a violação de sua embalagem original, com todos os selos e lacres intactos. São estes:
          
          5.1.4.1. Vídeo Games, CDs, DVDs, Softwares ou qualquer outro modelo de produto que permita a reprodução ou cópia, ou ainda produtos que acompanham chaves de ativação.
          
          5.1.4.2. Produtos considerados acessórios, como por exemplo, Películas, Capas, Fone de ouvido, Cabos, Headset, Carregador, Cartão de memória, ou seja, itens que são conectados, aplicados em outros produtos ou ainda sujeitos ao contato físico do Cliente.
          
          5.1.4.3. Hardwares: componentes físicos, cujas características técnicas e compatibilidades podem ser verificadas com simplicidade e brevidade na página do produto, antes de se proceder a quaisquer instalações ou ao manuseio do produto e, ainda, deva ser feita a verificação da combinação que seja adequada ao uso que fará do produto.
          
          5.1.4.4. Produtos de Informática e Eletroeletrônicos: modelos, tamanhos, conectividade são passíveis de verificações antes mesmo da abertura e, alguns destes produtos, quando conectados realiza-se transmissão e processamento de informações.
          
          5.1.4.5. Eletrodomésticos: todos os dados são amplamente detalhados no site do KaBuM!, com o intuito de objetivar a aquisição de itens que propiciam a comodidade, o lazer e auxiliam nas tarefas domésticas.
          
          5.1.4.6. Telefonia, Smartphones e Celulares: para verificação da capacidade, detalhamentos técnicos, não são necessários a abertura da embalagem, remoção das películas protetoras, carga da bateria, instalação de aplicativos.
          
          5.1.5. Após receber a manifestação da intenção de exercer o Direito de Arrependimento por parte do Cliente, o KaBuM! enviará a ele confirmação imediata do recebimento da sua manifestação.
          
          5.1.6. Após o recebimento tempestivo da manifestação do Direito de Arrependimento, o KaBuM! encaminhará ao Cliente, em seu e-mail de cadastro, um código de postagem reversa, com prazo de validade de 7 dias corridos, para que este possa encaminhar o(s) produto(s) ao KaBuM! sem qualquer custo. Em algumas situações específicas, o KaBuM! poderá, realizar a coleta do(s) produto(s) por meio de empresa transportadora; nestes casos, o Cliente deverá informar, além do endereço no qual o(s) produto(s) serão recolhidos, 3 (três) opções de data e horário para a transportadora recolher o(s) produto(s).
          
          5.1.7. O Cliente se compromete a postar o(s) produto(s) no prazo de 7 dias corridos a contar do recebimento do código de postagem reversa, emitido pelo KaBuM!, em qualquer agência dos Correios.
          
          5.1.8. Nos casos em que a coleta do(s) produto(s) for feita por transportadora, o Cliente se compromete a entregar o(s) produto(s) à empresa transportadora no local, na data e no horário previamente agendado.
          
          5.1.9. No caso da não postagem do produto no prazo acima indicado se utilizando do código emitido pelo KaBuM! ou, no caso da não entrega do produto para a transportadora na data, horário e local acordado, o Cliente poderá encaminhar o(s) produto(s) por meio de postagem junto aos Correios, no prazo de 14 (catorze) dias corridos, a contar do dia seguinte ao término do prazo anterior, arcando com os custos da postagem.
          
          5.1.10. Após a análise e o aceite do Direito de Arrependimento, os valores devidos serão integralmente restituídos ao Cliente.
          
          5.1.11. Passados os 14 (catorze) dias a que se refere o ponto 5.1.9. sem que o Cliente tenha encaminhado o(s) produto(s) à empresa, o Cliente ainda terá 7 (sete) dias para postá-los e encaminhá-los ao KaBuM! devendo, no entanto, arcar com todos os custos da postagem. Caso a postagem seja feita dentro do período de 7 (sete) dias a que se refere este artigo, os valores relativos à postagem não serão restituídos, no caso de aceite do Direito de Arrependimento.
          
          5.1.12. A análise da solicitação de Direito de Arrependimento será realizada pelo KaBuM! e informada através do e-mail de cadastro do Cliente em até 07 (sete) dias úteis, contados da data de recebimento do produto pelo KabuM!.
          
          5.1.13. Na eventualidade de o KaBuM! se recusar a aceitar o Direito de Arrependimento, este deverá providenciar ao Cliente informações sobre os motivos que embasaram a recusa.
          
          5.1.14. Para evitar a devolução de produtos por motivo de incompatibilidade entre componentes físicos (hardwares), sistemas operacionais e/ou outros softwares, o Cliente deverá analisar, antes da compra, todas as informações técnicas do produto, as quais são disponibilizadas na página do produto, bem como as informações disponíveis no site do fabricante. Tais informações técnicas são fundamentais para auxiliá-lo na escolha do produto que mais se adeque aos seus propósitos e às suas necessidades.
          
          5.1.15. Os Kits (Bundle) são produtos vendidos, obrigatoriamente, de forma conjunta, sendo que esta composição de produtos é uma venda única e por este motivo, podem ser comercializados em ofertas e com descontos diferenciados. Assim, exclusivamente, para o exercício do direito de arrependimento, o Kit deverá ser devolvido em sua integralidade, com todos os produtos e acessórios que o compõe, respeitado ainda, todos os demais termos e condições desta Política. Não serão aceitas devoluções individualizadas e/ou parciais de produtos adquiridos em forma de Kit.
          
          5.1.16. O KaBuM! não será obrigado a atender às solicitações de troca ou devolução de qualquer produto quando o Cliente não tenha manifestado expressamente a sua intenção de exercer o seu Direito de Arrependimento, no prazo legal de 7 (sete) dias corridos a contar da data de recebimento do produto, por meio dos canais de Atendimento informados.
          
          5.1.17. Para que o Direito de Arrependimento seja aceito, é obrigatório que o produto seja encaminhado ao KaBuM! na embalagem original, sem avarias, com todos os componentes, acessórios e manuais que o integram, conforme informado acima.
          
          5.1.18. Caso os requisitos anteriormente informados não sejam totalmente preenchidos, o KaBuM! não estará obrigado a aceitar o Direito de Arrependimento da compra. Nessa situação, o produto objeto da compra será repostado para o mesmo endereço de entrega, acompanhado de termo, o qual informará os motivos que levaram o KaBuM! a recusar o exercício do direito do arrependimento.
          
          5.2. Avarias
          
          5.2.1. No ato da entrega do(s) produto(s), o Cliente ou o terceiro responsável pelo recebimento deverá, obrigatoriamente, verificar se a embalagem se encontra em perfeito estado. Caso seja verificado qualquer indício de recondicionamento, violação e/ou avaria, o Cliente ou o terceiro deverá recusar de imediato o recebimento.
          
          5.2.2. Caso o Cliente ou o terceiro opte por receber o produto com imperfeições em sua embalagem e/ou no próprio produto, este, obrigatoriamente, deverá fazer a observação da avaria na Nota Fiscal/Conhecimento de Transporte no momento da entrega deste.
          
          5.2.3. Caso o Cliente receba o produto e, posteriormente, verifique que a embalagem não se encontra em perfeito estado, este deverá contatar o KaBuM!, no prazo máximo de 48 (quarenta e oito) horas do recebimento, e informar o ocorrido.
          
          5.2.4. O Cliente terá 48 (quarenta e oito) horas, a contar do recebimento do produto, para informar o KaBuM! sobre a existência de qualquer avaria/vício aparente no produto recebido. Após tal prazo, considerar-se-á aceita a entrega, em perfeitas condições.
          
          5.2.5. Não serão aceitas quaisquer solicitações e reclamações sobre a existência de avarias/vícios aparentes após o prazo de 48 (quarenta e oito) horas acima informado.
          
          5.2.6. Aceita a reclamação, o KaBuM! encaminhará ao Cliente, via e-mail de cadastrado, um código de postagem reversa, com prazo de 7 (sete) dias corridos, para que este realize a remessa do produto.
          
          5.2.7. Em decorrência de determinadas características do produto, o KaBuM! reserva-se no direito de realizar a coleta do produto avariado por meio de transportadora contratada. Nestes casos, será agendada com o Cliente a data e a hora da coleta.
          
          5.2.8. O produto deverá ser devolvido com todos os manuais, acessórios e nota fiscal de compra que eventualmente acompanhem o produto principal.
          
          5.2.9. Ao ser identificado avaria no produto, o KaBuM! poderá:
          
          (i) consertar o vício;
          (ii) enviar um novo produto igual ou superior ao Cliente;
          (iii) estornar o valor pago.
          
          5.2.10. Se eventualmente o produto estiver esgotado, será facultado ao Cliente optar pela restituição dos valores efetivamente pagos ou pela inserção de créditos no valor da compra realizada, em seu login, para serem utilizados em outras compras na plataforma do KaBuM!.
          
          6. Produto em desacordo com o pedido
          
          6.1. O Cliente ou o terceiro deverá conferir, no ato do recebimento, se o(s) produto(s) é o adquirido e descrito na nota fiscal. Caso seja constatado que o produto entregue não é o mesmo que o adquirido, o Cliente ou o terceiro, deverá recusar seu recebimento e entrar em contato através dos Canais de Atendimento em até de 48 (quarenta e oito) horas a contar do ato do recebimento.
          
          6.2. Caso o Cliente venha a receber o produto e constate que o produto recebido não é o adquirido e descrito na Nota Fiscal, o Cliente se compromete a devolver/entregar o Produto ao KaBuM! ou aquem esse indicar (Transportadoras), no mesmo estado em que recebeu, se comprometendo ainda a indenizar o KaBuM! dos prejuízos ocasionados por negligência, má utilização, guarda inadequada, desleixo ou outro dano que possa decorrer, direta ou indiretamente, de sua ação ou omissão e, a não devolução do Produto acarretará o pagamento do valor do produto recebido ao KaBuM!, sem prejuízo de responder pelas perdas e danos ocasionados a esse.
          
          7. Garantia
          
          7.1. O KaBuM! poderá oferecer garantia contratual contra defeitos de fabricação para os produtos comercializados por ele, exceto os produtos vendidos como OpenBox e os que possuem assistência técnica própria do fabricante em território nacional.
          
          7.2. O prazo total de garantia compreende a garantia legal e contratual.
          
          7.3. O prazo da garantia contratual poderá variar em virtude do produto adquirido. Tal prazo será informado na nota fiscal da compra e página do produto no site do KaBuM!
          
          7.4. Todo produto encaminhado ao KaBuM! por conta de vício passará obrigatoriamente e previamente por uma análise técnica para averiguação da existência de vícios e/ou defeitos de fabricação.
          
          7.5. Caso não seja constatado vício(s) no produto, ou ainda, que o vício foi causado por uso indevido pelo Cliente e/ou terceiros, o KaBuM! reserva-se no direito de reenviar o produto ao Cliente, isentando-se da obrigação de troca ou restituição dos valores pagos, bem como das despesas de frete geradas por este reenvio.
          
          7.6. Quando for constatado que o vício no produto foi causado por uso indevido pelo Cliente e/ou terceiros, o KaBuM! elaborará um termo de constatação que indicará os motivos da perda da garantia pelos quais não foi aceita a troca, reparo e a restituição dos valores pagos pelo produto. Tal termo será encaminhado ao Cliente juntamente com o produto repostado.
          
          7.7. Nos casos em que o Cliente acionar a garantia do produto, o KaBuM! reserva-se no direito de permanecer com o produto por até 30 dias, a contar do recebimento deste, nos termos do artigo 18, §1º, do Código de Defesa do Consumidor.
          
          ATENÇÃO: é de inteira responsabilidade do Cliente a execução de cópias de segurança (backup) de quaisquer programas, dados e/ou arquivos relevantes, antes de encaminhar o produto para a empresa. O KaBuM! não se responsabilizará pela perda de quaisquer dados, arquivos e/ou programas que, por ventura, existam no produto encaminhado para reparo.
          
          7.8. A garantia não abrange:
          
          7.8.1. Produtos não adquiridos no site do KaBuM!;
          
          7.8.2. Produtos fora do prazo de garantia;
          
          7.8.3. Defeito por manuseio inadequado, uso incorreto e/ou instalação incorreta;
          
          7.8.4. Custos de instalação;
          
          7.8.5. Custos de conserto do produto fixado pela assistência técnica;
          
          7.8.6. Recuperação de quaisquer programas, dados, arquivos e/ou programas, aplicativos, sistemas operacionais ou qualquer outro software, uma vez que, a responsabilidade de realizar o backup é de inteira responsabilidade do Cliente;
          
          7.8.7. Defeitos ocasionados por falhas ou erros durante ou após atualizações de firmware;
          
          7.8.8. Casos de mau funcionamento por falha na configuração de software ou drives;
          
          7.8.9. Conserto ou reposição de peças por desgaste natural ou troca periódica durante o tempo de vida do produto; por exemplo: adaptadores de força, cabos elétricos, cabeçotes laser de aparelhos de CDs, acessórios, vidros de proteção, fusíveis internos, pilhas ou baterias internas ou externas, fitas, cartuchos e etc.;
          
          7.8.10. Uso inadequado, imprudência, imperícia ou negligência;
          
          7.8.11. Perda ou dano ocasionado por força maior ou caso fortuito, e culpa exclusiva do Cliente ou de terceiros;
          
          7.8.12. Carregadores de bateria, controles remotos, bem como quaisquer tipos de transformadores externos ou estabilizadores de voltagem e outros acessórios externos ao produto;
          
          7.8.13. Devolução de produtos pelo motivo de incompatibilidade entre componentes físicos (hardware), sistemas operacionais ou outros softwares, já que a escolha do produto adequado é de inteira responsabilidade do Cliente. Lembrando que, as informações técnicas são disponibilizadas pelos fabricantes em seu site oficial, bem como na página do produto no site do KaBuM!
          
          7.8.14. O KaBuM! não se responsabiliza por danos causados por terceiros, por questões ou elementos fora de seu alcance, controle e/ou ingerência das partes.
          
          7.9. Perda de Garantia
          
          A ocorrência de qualquer das situações abaixo descritas acarretará na perda da garantia do produto:
          
          7.9.1. Retirada ou violação de selos de garantia ou identificação do KaBuM! e/ou fabricante;
          
          7.9.2. Violação, modificação, troca de componentes, ajustes, consertos feito por pessoa não autorizado;
          
          7.9.3. Serviços executados diretamente pelo Cliente sem prévio consentimento do KaBuM! e/ou do fabricante que causem danos ao produto;
          
          7.9.4. Manuseio incorreto, em desacordo com o manual;
          
          7.9.5. Uso de acessórios, componentes ou sistemas não originais ou não recomendados e/ou não aprovados pelo fabricante;
          
          7.9.6. Transporte inadequado do produto pelo Cliente que o exponha a trepidações, quedas, umidade, calor excessivo ou excesso de peso sobre o produto ou embalagem, entre outros;
          
          7.9.7. Danos físicos (amassados, arranhões, manuscritos, descaracterização, componentes queimados por descarga elétrica ou excesso de voltagem, danos decorrentes de exposição excessiva ao calor, fogo, umidade, placas ou processadores queimados, trincados, lascados, processadores e placas mãe com pinos e sockets tortos, quebrados, etc.);
          
          7.9.8. Danos causados por vírus, malware, spyware, programas maliciosos, etc.;
          
          7.9.9. Qualquer outra avaria que não seja classificada como defeito/vício de fabricação.
          
          7.10. Assistência Técnica do Fabricante
          
          7.10.1. Nos casos em que o KaBuM! indicar a assistência técnica autorizada para reparo/conserto, o Cliente deverá acionar a garantia junto à própria fabricante, visando rapidez e eficácia no atendimento, tendo em vista que o KaBuM! não possui autorização para o manuseio e reparo de determinados produtos. Nestes casos, o Cliente deverá também ler as Políticas do fabricante.
          
          7.10.2. O produto deverá ser enviado à assistência técnica autorizada, acompanhada da nota fiscal de compra, preferencialmente na embalagem original, ou na impossibilidade, em embalagem adequada a fim de proteger o produto, juntamente com todos os acessórios (cabos, manuais, cds e etc.) que acompanham o produto.
          
          7.11. Devolução de Valores
          
          7.11.1. Aplicam-se as devoluções de valores nos seguintes casos:
          
          (i) Direito de Arrependimento
          (ii) Garantia aceita
          (iii) Avaria dentro de 48 horas
          
          7.11.2. Nesses casos, a devolução dos valores será feita da seguinte forma:
          
          (i) Devolução do valor pago em conta bancária de origem do pagamento, desde que o pagamento tenha sido feito por meio de PIX; ou
          (ii) Inserção de crédito no login; ou
          (iii) Estorno do valor pago no cartão de crédito, desde que o pagamento tenha sido feito por meio de cartão de crédito; ou
          (iv) Devolução do valor pago em conta bancária de titularidade do Cliente ou em conta bancária formalmente indicada por este, desde que o pagamento tenha sido feito por meio de boleto.
          
          7.11.3. Toda solicitação de devolução de valores pagos será previamente analisada pelo KaBuM!, a fim de averiguar se a solicitação se encontra em consonância com as situações acima descritas, bem como com aquelas situações descritas pela legislação aplicável. Caso a solicitação se enquadre em qualquer das hipóteses autorizadoras, a devolução dos valores pagos será feita das seguintes formas:
          
          7.11.3.1. Em compras realizadas através de cartão de crédito, o respectivo estorno será solicitado à administradora do cartão utilizado. Este procedimento é efetuado exclusivamente pela própria administradora do cartão de crédito, cabendo ao KaBuM! tão somente a solicitação do estorno, sendo que o prazo do estorno dependerá da política interna da empresa administradora do cartão.
          
          7.11.3.2. Em compras pagas por meio de boleto bancário, a restituição será creditada sempre na conta de titularidade do Cliente que realizou a compra ou em conta bancária formalmente indicada por este. Nesses casos em conta bancária do Cliente, este é responsável exclusivo pelas informações dos dados fornecidos.
          
          7.11.3.3. Caso o Cliente deseje que a devolução dos valores pagos seja feita em conta de terceiros, este deverá preencher autorização específica, com firma reconhecida, do Cliente e do titular da conta a ser utilizada, atestando a ciência deste terceiro, e encaminhar documento de identidade e CPF do terceiro.
          
          7.11.3.4. O KaBuM! se reserva no direito de não realizar o estorno dos valores pagos em conta de terceiro sem a autorização a que se refere a cláusula anterior.
          
          7.11.3.5. A devolução dos valores pagos a título de postagem será feita juntamente com os valores do produto devolvido, desde que obedecidos todos os requisitos dispostos no ponto 7.12 (Autorização de Postagem) abaixo.
          
          7.11.4. Nos casos em que a devolução do produto não for aceita, os valores pagos a esse título não serão restituídos e o KaBuM! repostará o produto por intermédio de PAC - encomenda normal, cujo prazo de entrega dependerá do endereço de destino.
          
          7.11.5. No caso acima descrito, o produto será repostado para o endereço informado pelo Cliente no momento da compra.
          
          7.11.6. Caso o Cliente tenha urgência no reenvio do produto, poderá solicitar previamente outra modalidade de postagem, arcando com os custos adicionais da modalidade de postagem escolhida.
          
          7.12. Autorização de postagem
          
          7.12.1. A autorização de postagem é enviada ao e-mail de cadastro do Cliente e tem validade de 07 (sete) dias corridos, prazo este não renovável. Caso o produto não seja enviado neste prazo, o Cliente deverá entrar em contato com o KaBuM! para que se possa averiguar a viabilidade de emitir um novo código. A emissão de uma segunda autorização de postagem não se configura como uma obrigação desta empresa, tratando-se de mera liberalidade.
          
          7.12.2. No caso da não postagem do produto no prazo acima indicado se utilizando do código emitido por esta empresa ou, no caso de coleta programada, não disponibilizando o Cliente o produto para a transportadora na data, horário e local acordado, o Cliente poderá encaminhar o(s) produto(s) por meio de postagem junto aos Correios, no prazo de 14 (catorze) dias corridos, a contar do dia seguinte ao término do prazo anterior, arcando com os custos da postagem.
          
          7.12.3. Os valores relativos à postagem a que se refere o artigo 7.12.2. serão integralmente restituídos ao Cliente quando constatado que os requisitos presentes neste documento e/ou dispostas na legislação aplicável se encontram devidamente preenchidos.
          
          7.12.4. Passados os 14 (catorze) dias a que se refere o ponto 7.12.2. sem que o Cliente tenha encaminhado o(s) produto(s) à empresa, o Cliente ainda terá 7 (sete) dias para postá-los e encaminhá-los ao KaBuM! devendo, no entanto, arcar com todos os custos da postagem.
          
          7.12.5. Na ocorrência da situação descrita no artigo 7.12.4 os valores despendidos a título de postagem não serão reembolsados pelo KaBuM!,de modo que deverão ser inteiramente arcados pelo Cliente.
          
          7.12.6. Em algumas situações específicas, o KaBuM! poderá, ao invés de emitir o código de postagem reversa, realizar a coleta do(s) produto(s) por meio de empresa transportadora; nestes casos, o Cliente deverá informar, além do endereço no qual o(s) produto(s) serão recolhidos.
          
          7.12.7. Todas as disposições descritas nos pontos 7.12.1 e 7.12.2 se aplicarão à devolução por meio de transportadora.
          
          7.12.8. Remessa de Produtos de Pessoa Jurídica: Caso o Cliente seja pessoa jurídica (CNPJ), este deverá emitir uma nota fiscal de devolução (desistência da compra - prazo de 7 dias ou produto em desacordo com o pedido), contendo os mesmos dados referente aos produtos, valores, quantidades conforme nota fiscal de compra. O destinatário desta nota fiscal deverá ser o mesmo constante na nota fiscal de compra , ou seja , KaBuM Comércio Eletrônico S.A - CNPJ 05.570.714/0008-25 - I.E. 083.078.665 - Rodovia BR-262 - N° 222 - Galpão 2 ; Armazém 3,4 e 5 - Vila Bethania - Viana - SP - CEP: 29.136-010. Essa nota fiscal de devolução emitida deverá ser enviada para o e-mail: atendimento.rma@kabum.com.br, para validação e estando correta, será autorizado o envio da mercadoria.
          
          7.12.9. O cliente Pessoa Jurídica (CNPJ) desobrigado da emissão de nota fiscal, anexará ao produto, declaração de transporte que conterá: (i) os dados do destinatário: KaBuM Comércio Eletrônico S.A - CNPJ 05.570.714/0008-25 - I.E. 083.078.665 - Rodovia BR-262 - N° 222 - Galpão 2 ; Armazém 3,4 e 5 - Vila Bethania - Viana - SP - CEP: 29.136-010; (ii) os mesmos dados referente aos produtos, valores, quantidades conforme nota fiscal de compra; e (iii) o motivo da devolução. Será necessária, ainda, em conjunto com a declaração, o envio da cópia da nota fiscal de compra.
          
          7.12.10. O Cliente deverá encaminhar o produto para o endereço abaixo, seguindo as orientações de postagem encaminhadas ao Cliente através de seu e-mail de cadastro, informando o número do protocolo de autorização.
          
          KaBuM! Comércio Eletrônico S.A.
          Autorização (Protocolo nº ....)
          Rua Wellington Rodrigo Barriviera, nº 450, Galpão "B" - Sala "01”,
          Condomínio Industrial Duas Barras
          Limeira - SP CEP 13481-176.
          
          7.12.11. Em ambos os casos, os produtos somente serão considerados recebidos pelo KaBuM! desde que todos os requisitos acima sejam atendidos, em conformidade com a legislação vigente. Caso contrário, o KaBuM! se reserva o direito de repostar o produto ao cliente sem qualquer tratativa e sem prévia autorização do cliente.
          
          7.12.12. No caso do envio pelo cliente ao KaBuM!, de itens ou acessórios que não tenham sido adquiridos no KaBuM!, o cliente terá o prazo de 15 (quinze) dias, contados do primeiro contato realizado pelo KaBuM!, para manifestar-se no sentido da devolução dos itens incorretamente enviados, cabendo exclusivamente ao cliente o pagamento dos fretes de remessa e devolução do bem. Decorrido o prazo ora estabelecido, sem que ocorra manifestação e comprovação do pagamento do frete, será facultado ao KaBuM!, independentemente de novo aviso, o descarte destes itens. Sendo que neste caso, não será devido pelo KaBuM! qualquer indenização, seja a que título for.
          
          8. Perguntas e Respostas
          
          8.1. O KaBuM! disponibiliza um campo para que seus Clientes tirem dúvidas acerca dos produtos comercializados por ele, o qual é denominado "Perguntas e Respostas".
          
          8.2. O KaBuM! chama carinhosamente seus Clientes de Ninjas, por ser um ícone de referência da empresa. Assim, quando o KaBuM! refere-se aos Ninjas, ele está se referindo aos seus Clientes.
          
          8.3. As perguntas feitas neste campo pelos Clientes serão respondidas por outros Clientes do KaBuM!, uma vez que acreditamos na construção de uma comunidade formada pelos "Ninjas" que se ajudam reciprocamente, informando sobre as suas experiências com os produtos ofertados.
          
          8.4. Assim, como as perguntas são respondidas por outros Clientes, O KABUM NÃO SE RESPONSABILIZA PELAS INFORMAÇÕES PRESTADAS NO REFERIDO CAMPO, portanto, é de responsabilidade exclusiva do(s) Cliente(s) a(s) informações prestadas no site. O Cliente ao adquirir um produto influenciado pelas respostas dadas por outros Clientes assume, por conta própria, o risco de aquelas informações não estarem corretas.
          
          8.5. Caso as questões sejam referentes à compatibilidade de determinada peça, o KaBuM! recomenda que o Cliente se utilize da ferramenta "Monte seu PC", a qual se encontra disponível no em seu site oficial.
          
          8.6. Na hipótese das dúvidas permanecerem, o KaBuM! encontra-se disponível para auxiliar a todos os Clientes pelos seus canais de Atendimento, os quais são informados em seu site oficial.
          
          9. OpenBox
          
          9.1. O KaBuM! poderá realizar a venda de produtos OpenBox, que são aqueles que já tiveram sua caixa aberta e seus selos/lacres rompidos. Eventualmente, os produtos OpenBox poderão conter algum vício ou não conter algum acessório/componente descrito na caixa do produto, fatos que serão previamente informados ao Cliente pelo KaBuM!.
          
          9.2. Os produtos OpenBox são produtos únicos e, portanto, de estoque limitado.
          
          9.3. Por se tratarem de produtos abertos, com eventual vício, ausência de algum acessório e/ou componentes, ou seja, em estado diferente de um produto novo, são revendidos com preços inferiores, se comparados aos produtos novos/lacrados.
          
          9.4. Os produtos OpenBox são demarcados com um ícone OpenBox e sua disponibilidade para venda é demonstrada ao lado de produtos novos. Clicando no ícone OpenBox, o Cliente obterá todas as informações sobre o produto OpenBox fornecido e o estado do mesmo - incluindo informações sobre possíveis vícios - e da embalagem, o valor do preço reduzido, os itens inclusos ao produto - incluindo a informação de ausência de eventual acessório/componente - e terá, ainda, acesso a uma apresentação de fotos reais de cada item.
          
          9.5. Os preços dos produtos OpenBox serão determinados exclusivamente pelo KaBuM!.
          
          9.6. Os percentuais de desconto aplicados aos produtos novos em decorrência da forma de pagamento escolhida pelo Cliente, qual seja, descontos à vista, poderão ser aplicados da mesma forma aos produtos OpenBox. Contudo, a aplicação de tais descontos trata-se de mera faculdade do KaBuM!, que poderá optar em não concedê-los.
          
          9.7. Optando o cliente em comprar um produto OpenBox, incluindo-o no seu carrinho de compra, automaticamente este produto ficará indisponível para compra por outro Cliente. Caso o Cliente venha a comprar um produto OpenBox juntamente com produtos novos, em seu carrinho de compra o produto ficará identificado com o ícone OpenBox.
          
          9.8. O Cliente deverá realizar o pagamento dos produtos indicados como OpenBox de acordo com a forma e prazos disposto nesta Política. Caso o pagamento não seja realizado nas condições e prazos estabelecidos, o pedido será automaticamente cancelado e o produto ficará novamente disponível para no site do KaBuM!, de modo que poderá ser adquirido por outros Clientes.
          
          9.9. O Cliente receberá os produtos OpenBox identificados com um selo adesivado na embalagem.
          
          9.10. Os produtos comercializados como OpenBox não gozarão de garantia contratual, mas tão somente da garantia legal, cujo prazo é de 90 (noventa) dias, a contar do dia do recebimento do produto, nos termos do artigo 26, §1º, do Código de Defesa do Consumidor.
          
          9.11. Fica o Cliente ciente que caso o produto adquirido como OpenBox seja extraviado/perdido/avariado durante o transporte, impossibilitando a sua entrega na forma contratada, o KaBuM! devolverá o valor pago pela compra do referido produto, tendo em vista que os produtos OpenBox são produtos únicos e não podem ser substituídos por outro da mesma espécie.
          
          9.12. Em hipótese alguma o produto adquirido como OpenBox será substituído por um produto "novo", ou, em outras palavras, lacrado.
          
          9.13. A política relativa ao Direito de Arrependimento, estabelecida na cláusula 5.1 acima, também se aplica aos produtos OpenBox, sendo, contudo, inaplicável a disposição contida na cláusula 7.1 em razão de incompatibilidade com a venda dos produtos OpenBox.
          
          10. Lojas Parceiras (Marketplace)
          
          Loja Parceira é a loja ou fabricante que anuncia e comercializa seus produtos e serviços por meio do site do KaBuM!
          
          Os anúncios dos produtos e serviços vendidos e entregues por Lojas Parceiras estão identificados. Todas as condições de venda, como preços, prazos e entregas são definidas e responsabilidade da Loja Parceira e constarão das instruções, antes da conclusão da compra.
          
          ATENÇÃO: Antes de concluir sua compra, sempre verifique se o produto e/ou serviço é vendido diretamente pelo kabum.com.br. Produtos vendidos e entregues por lojas parcerias (marketplace) seguem as regras definidas por cada loja. Caso não esteja de acordo com os termos e condições da loja parceira, não conclua sua compra. Em caso de dúvida, contate nossos canais de atendimento.
          
          Toda e qualquer responsabilidade pelo anúncio, disponibilidade, preços, prazos, venda, entrega, defeitos, vícios e qualquer outra, do produto e serviço vendido pela Loja Parceira é exclusiva da Loja Parceira.
          
          11. Canais de Atendimento
          
          O KaBuM! disponibiliza a todos os seus Clientes os seguintes canais de atendimento:
          
          - Central de Atendimento: (19) 2114-4444 (Segunda à Sexta-feira, desde que sejam dias úteis em Limeira-SP, das 08h00 às 20h00 e aos Sábados das 08h00 às 14h00).
          
          - CHAT: Segunda à Sexta-feira das 08h00 às 20h00 e aos Sábados das 08h00 às 14h00, desde que sejam dias úteis em Limeira-SP.
          
          - E-mail do Atendimento: faleconosco@kabum.com.br
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </main>

  {% endblock %}
