{% extends 'base.html' %}
{% block title %} Esqueci minha senha - Bulldog  {% endblock %}
{% block cliente %} {{cliente}} {% endblock %}
{% block login %} {{login}} {% endblock %}
{% block logout %} {{logout}} {% endblock %}
{% block content %}

<div style="height: 80px;"></div>

<div class="container-fluid">

	<div class="form-signin bg-light col-lg-8 col-md8 col-sm-8 col-xs-9 mx-auto p-5 rounded shadow text-center d-flex justify-content-center mb-5 mt-5">

    <p class="text-dark text-center">Nós te enviamos um email com instruções para recuperar sua senha. Se o email não chegar em alguns minutos, por favor olhe na pasta de spam ou lixeira.</p>



</div>

</div>




<div style="height: 80px;"></div>







{% endblock %}





{% block script %}
{% endblock script %}