{% extends 'base.html' %}
{% block title %} Esqueci minha senha - Bulldog  {% endblock %}
{% block cliente %} {{cliente}} {% endblock %}
{% block login %} {{login}} {% endblock %}
{% block logout %} {{logout}} {% endblock %}
{% block content %}


<div style="height: 20px;"></div>


<div class="container-fluid">

	<div class="shadow col-lg-8 col-md-8 col-sm-8 bg-light mx-auto rounded p-4 form-signin text-center d-flex justify-content-center mb-5 mt-5">

		<form novalidate class="needs-validation mt-5 mb-5" action="/resetPassword2/" method="post">
            {% csrf_token %}

		
		  <h3>ESQUECI MINHA SENHA</h3>
		  <p>Digite seu email que está cadastrado no site, para poder recuperar sua senha</p>
		  
		  <div class="form-floating mb-3">
			<input type="email" class="form-control" id="email" name="email" required placeholder="nome@exemplo.com">
			<label for="floatingInput">Email*</label>
			
			  <div class="invalid-feedback">
				Por favor, digite um email válido
			  </div>
		  </div>
		
	  
		  <button class="w-100 btn btn-lg btn-dark" type="submit">Enviar</button>
		  
		</form>
		

	  </div>	



    


</div>




<div style="height: 100px;"></div>







{% endblock %}

{% block script %}
{% endblock script %}




