<!-- <div class="range">
				<h3 class="agileits-sear-head">Preço máximo</h3>
				<ul class="dropdown-menu6">
					<li>

					<li>
						<h5   id="demo"></h5>
					</li>
					<br>
					<div class="slidecontainer">
						<input onchange="pricechange(this.value)" type="range" min="0" max="10000" value="0" step="50" class="slider" id="meuSlide">

					</div>
                    </li>
                </ul>
</div>

<script>
	var slider = document.getElementById("meuSlide");
	var output = document.getElementById("demo");
	output.innerHTML = "R$ " + slider.value + ",00"; // Mostra o valor do slide de preco

	// Conforme mexe o slide de preco atualiza o valor
	slider.oninput = function () {
		output.innerHTML = "R$ " + this.value + ",00";
	}


	

</script>





Atendimento
Horário de atendimento:
08:00 às 20:00 -
Segunda a Sábado,
horário de Brasília
(exceto domingo e feriados)
Endereço:
Rua Carlos Gomes, 1321 -
9° andar - Centro
Limeira/SP - CEP: 13480-010
Central SAC:
(19) 2114-4444
E-mail:
faleconosco@kabum.com.br -->



<!-- SIDEBAR LATERAL MENU -->
<!-- <div id="mySidebar" class="sidebarP">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	
	<div class="flex-shrink-0">
		
		<ul class="list-unstyled ps-0">

		  <li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
			  Home
			</button>
			<div class="collapse" id="home-collapse">
			  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li><a href="#" class="link-dark rounded">Overview</a></li>
				<li><a href="#" class="link-dark rounded">Updates</a></li>
				<li><a href="#" class="link-dark rounded">Reports</a></li>
			  </ul>
			</div>
		  </li>
		  <li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
			  Dashboard
			</button>
			<div class="collapse" id="dashboard-collapse">
			  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li><a href="#" class="link-dark rounded">Overview</a></li>
				<li><a href="#" class="link-dark rounded">Weekly</a></li>
				<li><a href="#" class="link-dark rounded">Monthly</a></li>
				<li><a href="#" class="link-dark rounded">Annually</a></li>
			  </ul>
			</div>
		  </li>
		  <li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
			  Orders
			</button>
			<div class="collapse" id="orders-collapse">
			  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li><a href="#" class="link-dark rounded">New</a></li>
				<li><a href="#" class="link-dark rounded">Processed</a></li>
				<li><a href="#" class="link-dark rounded">Shipped</a></li>
				<li><a href="#" class="link-dark rounded">Returned</a></li>
			  </ul>
			</div>
		  </li>
		  
		  <li class="border-top "></li>

		  <li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
			  Account
			</button>
			<div class="collapse" id="account-collapse">
			  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li><a href="#" class="link-dark rounded">New...</a></li>
				<li><a href="#" class="link-dark rounded">Profile</a></li>
				<li><a href="#" class="link-dark rounded">Settings</a></li>
				<li><a href="#" class="link-dark rounded">Sign out</a></li>
			  </ul>
			</div>
		  </li>

		</ul>
	  </div>
	
	  <div class="b-example-divider"></div>
 </div>

 <li class="nav-item nav-link">
	<div id="mainP">
		<button class="openbtn" onclick="openNav()">&#9776; Filtros</button>
	 </div>
</li> -->
<!-- SIDEBAR LATERAL MENU -->


  <!-- ACCORDION DO PRODUTO -->
  <!-- <div class="row g-5 mt-0 mb-5 bg-light">

    <div class="accordion mb-5" id="accordionExample">
      <div class="accordion-item bg-light text-dark">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed bg-light text-dark fw-bold" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            REVIEWS
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">

          <div class="accordion-body bg-light text-white">
            <div class="wrapper_top_shop">

             



            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-light text-dark">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button bg-light text-dark fw-bold" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            DESCRIÇÃO
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-bodybg-light text-dark p-4">
            
          </div>
        </div>
      </div>
      <div class="accordion-item bg-light text-dark">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed bg-light text-dark fw-bold" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            INFORMAÇÕES TECNICAS
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body bg-light text-dark p-4">
            
          </div>
        </div>
      </div>
     
    </div>


  </div> -->
  <!-- FIM DO ACCORDION DO PRODUTO -->
